In [37]:
from faker import Faker
from tabulate import tabulate
import random
from datetime import datetime, timedelta
import pandas as pd

In [38]:
FAKER = Faker('id_ID')

#### Cities

In [39]:
cities = pd.read_csv('source\cities.csv')

In [40]:
cities['coordinate'] = [', '.join(i) for i in zip(cities["latitude"].map(str),cities["longitude"].map(str))]
cities.drop(columns=['latitude','longitude'], inplace=True)
cities.rename(columns={'kota_id':'city_id','nama_kota':'city_name'}, inplace=True)

In [41]:
list_city_id = cities['city_id'].values.tolist()

#### Cars

In [42]:
def duplicate_car_table(n_duplicate, is_print):
    # Buat table
    table = pd.read_csv('source\cars.csv')
    table_copy = table.copy()
    for i in range(n_duplicate):
        table_copy['year'] = [random.choice(range(2014,2022)) for i in range(len(table_copy['year']))]

        table_copy_price = table_copy['price'].values.tolist()
        random.shuffle(table_copy_price)
        table_copy['price'] = table_copy_price
        table = table.append(table_copy)
    
    table['product_id'] = [i+1 for i in range(len(table['product_id']))]
    table['car_type'] = [random.choice(['Automatic','Manual']) for i in range(len(table['product_id']))]
    table = table[['product_id','brand','model','body_type','car_type','year','price']]

    # Print table
    if is_print:
        print(table)

    return table

In [43]:
cars = duplicate_car_table(3, is_print=True)

    product_id   brand          model  body_type   car_type  year      price
0            1  Toyota   Toyota Yaris  Hatchback  Automatic  2016  175000000
1            2  Toyota   Toyota Yaris  Hatchback  Automatic  2018  215000000
2            3  Toyota   Toyota Yaris  Hatchback  Automatic  2014  162000000
3            4  Toyota   Toyota Yaris  Hatchback     Manual  2020  220000000
4            5  Toyota   Toyota Yaris  Hatchback     Manual  2012  124000000
..         ...     ...            ...        ...        ...   ...        ...
45         196  Suzuki  Suzuki Ertiga        MPV     Manual  2019  166000000
46         197  Suzuki  Suzuki Ertiga        MPV  Automatic  2021  155500000
47         198  Suzuki  Suzuki Ertiga        MPV  Automatic  2020  192000000
48         199  Suzuki  Suzuki Ertiga        MPV  Automatic  2016  125000000
49         200  Suzuki  Suzuki Ertiga        MPV  Automatic  2016   83000000

[200 rows x 7 columns]

C:\Users\Fajar Praditya\AppData\Local\Temp\ipykernel_27992\2725228665.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append(table_copy)
C:\Users\Fajar Praditya\AppData\Local\Temp\ipykernel_27992\2725228665.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append(table_copy)

#### Sellers and Buyers

In [44]:
def generate_name(n_name):

    names = list()

    while len(names) < n_name:

        first_name = FAKER.first_name()
        last_name = FAKER.last_name()

        full_name = (f'{first_name} {last_name}')
        if full_name not in names:
            names.append(full_name)

    return names

In [45]:
def user_table(n_cust, is_print):
    # Buat table
    table = pd.DataFrame()
    table['user_id'] = [i+1 for i in range(n_cust)]
    names = generate_name(n_cust)
    table['seller_name'] = [i for i in names] 
    table['email'] = [f"{name.lower().replace(' ', '')}@{FAKER.free_email_domain()}" \
                      for name in names]
    table['phone_number'] = [FAKER.phone_number() for i in range(n_cust)]
    table['city_id'] = [random.choice(list_city_id) for i in range(len(table['user_id']))]

    # Print table
    if is_print:
        print(table)

    return table

In [46]:
# membuat data table sellers
sellers = user_table(50,is_print=True)

sellers.rename(columns={'user_id':'seller_id'}, inplace=True)

    user_id         seller_name                          email  \
0         1        Anom Fujiati          anomfujiati@gmail.com
1         2        Dono Saptono          donosaptono@gmail.com
2         3    Irnanto Prastuti      irnantoprastuti@yahoo.com
3         4       Dimas Nasyiah         dimasnasyiah@yahoo.com
4         5      Dartono Wasita        dartonowasita@gmail.com
5         6     Harsana Pranowo       harsanapranowo@gmail.com
6         7   Kairav Anggriawan     kairavanggriawan@yahoo.com
7         8       Emong Halimah         emonghalimah@yahoo.com
8         9       Saiful Marbun         saifulmarbun@gmail.com
9        10          Leo Usamah            leousamah@yahoo.com
10       11     Respati Fujiati     respatifujiati@hotmail.com
11       12  Bakianto Kurniawan  bakiantokurniawan@hotmail.com
12       13      Utama Wibisono        utamawibisono@gmail.com
13       14       Dalima Irawan         dalimairawan@gmail.com
14       15        Suci Wahyuni          suciwahyuni@yahoo.com
15       16       Bagus Sitorus         bagussitorus@yahoo.com
16       17    Caket Mangunsong      caketmangunsong@yahoo.com
17       18     Warsita Halimah       warsitahalimah@gmail.com
18       19    Cawisadi Siregar    cawisadisiregar@hotmail.com
19       20       Mahmud Wasita       mahmudwasita@hotmail.com
20       21       Puji Wahyudin         pujiwahyudin@yahoo.com
21       22      Waluyo Saputra      waluyosaputra@hotmail.com
22       23      Ami Widiastuti        amiwidiastuti@gmail.com
23       24  Cahyono Nurdiyanti    cahyononurdiyanti@gmail.com
24       25     Dalimin Nugroho     daliminnugroho@hotmail.com
25       26      Lamar Nasyidah        lamarnasyidah@gmail.com
26       27   Cahyanto Yuliarti   cahyantoyuliarti@hotmail.com
27       28     Unjani Marpaung       unjanimarpaung@gmail.com
28       29     Artawan Permata       artawanpermata@yahoo.com
29       30       Maria Santoso         mariasantoso@gmail.com
30       31       Zulfa Hariyah         zulfahariyah@yahoo.com
31       32    Keisha Wijayanti    keishawijayanti@hotmail.com
32       33    Yessi Firmansyah      yessifirmansyah@yahoo.com
33       34      Septi Mayasari        septimayasari@yahoo.com
34       35      Galiono Astuti        galionoastuti@yahoo.com
35       36       Utama Fujiati         utamafujiati@gmail.com
36       37        Galang Hakim          galanghakim@gmail.com
37       38     Lintang Nugroho       lintangnugroho@gmail.com
38       39        Indra Astuti          indraastuti@gmail.com
39       40     Kasiyah Hastuti       kasiyahhastuti@gmail.com
40       41      Clara Yulianti        clarayulianti@gmail.com
41       42  Hairyanto Setiawan    hairyantosetiawan@yahoo.com
42       43    Prasetyo Maulana      prasetyomaulana@yahoo.com
43       44     Salimah Prabowo     salimahprabowo@hotmail.com
44       45     Bakiono Prayoga       bakionoprayoga@gmail.com
45       46    Cakrajiya Natsir    cakrajiyanatsir@hotmail.com
46       47     Fathonah Widodo     fathonahwidodo@hotmail.com
47       48     Cahyadi Gunarto     cahyadigunarto@hotmail.com
48       49          Ivan Utama          ivanutama@hotmail.com
49       50      Panji Palastri        panjipalastri@gmail.com

           phone_number  city_id
0     +62-0641-282-6474     1371
1     +62-0488-152-5112     1375
2   +62 (0799) 135 5824     3273
3    +62 (029) 780 5032     3172
4    +62 (375) 462-9843     3174
5     +62 (22) 860 6595     7371
6       (0371) 955-7207     1371
7        (090) 201-0790     3173
8        (000) 332 9058     3174
9    +62 (063) 338 8560     3172
10  +62 (0751) 983-4736     3172
11         086 269 2184     6472
12   +62 (042) 293-6358     3578
13      (0964) 509 2327     5171
14           0851310721     3573
15   +62 (061) 847 6639     3174
16   +62 (166) 717 8145     3471
17      +62-14-424-6286     3273
18      (0894) 425 6821     3171
19      +62-24-893-5654     6472
20    +62 (45) 370 3574     3273
21   +62 (257) 155-7643     6472
22    +62 (40) 993 7144     3573
23       (051) 429 6603     3171
24  +62 (0058) 540-3220     5171
25  +62 (0163) 627 1206     3172
26     +62-713-645-2548     3172
27           0833921683     3175
28       (026) 545-0025     1371
29   +62 (048) 255 2582     3172
30  +62 (0324) 095-0540     3273
31           0883234034     3173
32      (0460) 529-8364     7371
33   +62 (094) 305-2997     3273
34  +62 (0871) 062-4172     3471
35         082 662 9714     1371
36   +62 (041) 427 1518     3171
37           0831106779     3273
38           0894631280     5171
39     +62-688-356-9619     1371
40      (0759) 580 8956     3175
41    +62 (47) 883 6348     3175
42    +62 (52) 753 8293     3173
43    +62 (84) 064 1461     3578
44    +62-0866-182-0396     3172
45   +62 (040) 220-9129     1371
46     +62-057-586-8145     3171
47   +62 (011) 730 3721     3273
48       (061) 628-2515     6471
49     +62-066-404-0361     3175

In [47]:
# membuat data table buyers
buyers = user_table(50,is_print=True)

buyers.rename(columns={'user_id':'buyers_id'}, inplace=True)

    user_id         seller_name                         email  \
0         1       Surya Nababan        suryanababan@gmail.com
1         2       Kenzie Natsir        kenzienatsir@yahoo.com
2         3    Victoria Pertiwi   victoriapertiwi@hotmail.com
3         4       Irsad Gunarto      irsadgunarto@hotmail.com
4         5      Respati Sinaga       respatisinaga@yahoo.com
5         6       Raisa Waskita        raisawaskita@gmail.com
6         7       Ulya Prasetyo      ulyaprasetyo@hotmail.com
7         8    Prabowo Prasetya     prabowoprasetya@yahoo.com
8         9   Kajen Simanjuntak    kajensimanjuntak@gmail.com
9        10       Kasim Pradana      kasimpradana@hotmail.com
10       11        Tedi Ramadan       tediramadan@hotmail.com
11       12    Lanjar Saefullah     lanjarsaefullah@yahoo.com
12       13        Umaya Irawan         umayairawan@yahoo.com
13       14     Belinda Nababan    belindanababan@hotmail.com
14       15     Rahmi Mandasari      rahmimandasari@yahoo.com
15       16     Wakiman Budiman      wakimanbudiman@yahoo.com
16       17       Nalar Damanik        nalardamanik@gmail.com
17       18      Dalimin Januar       daliminjanuar@yahoo.com
18       19        Raina Sirait         rainasirait@yahoo.com
19       20       Jumadi Melani        jumadimelani@gmail.com
20       21  Estiawan Anggraini   estiawananggraini@gmail.com
21       22  Margana Novitasari   margananovitasari@gmail.com
22       23      Jagapati Halim     jagapatihalim@hotmail.com
23       24     Dalima Nasyidah      dalimanasyidah@gmail.com
24       25     Galih Sihombing      galihsihombing@gmail.com
25       26    Nasim Nurdiyanti   nasimnurdiyanti@hotmail.com
26       27    Zelaya Salahudin     zelayasalahudin@yahoo.com
27       28     Kamila Sitompul      kamilasitompul@yahoo.com
28       29     Indah Kurniawan      indahkurniawan@gmail.com
29       30       Usman Samosir        usmansamosir@yahoo.com
30       31   Gilang Mangunsong  gilangmangunsong@hotmail.com
31       32      Alika Haryanti     alikaharyanti@hotmail.com
32       33       Gatot Mulyani        gatotmulyani@gmail.com
33       34  Aslijan Napitupulu   aslijannapitupulu@gmail.com
34       35      Rusman Wahyuni     rusmanwahyuni@hotmail.com
35       36        Ajimat Halim         ajimathalim@yahoo.com
36       37     Marsito Narpati    marsitonarpati@hotmail.com
37       38  Samiah Simanjuntak   samiahsimanjuntak@yahoo.com
38       39        Okto Maryati         oktomaryati@yahoo.com
39       40  Jamalia Firmansyah   jamaliafirmansyah@yahoo.com
40       41    Arsipatra Wacana     arsipatrawacana@gmail.com
41       42         Ida Maryadi          idamaryadi@yahoo.com
42       43    Yulia Widiastuti     yuliawidiastuti@gmail.com
43       44     Aswani Hassanah      aswanihassanah@gmail.com
44       45         Ella Sirait          ellasirait@yahoo.com
45       46        Clara Farida         clarafarida@yahoo.com
46       47     Eka Simanjuntak      ekasimanjuntak@yahoo.com
47       48        Manah Rajasa         manahrajasa@gmail.com
48       49   Cakrawala Pratama    cakrawalapratama@yahoo.com
49       50       Kayla Thamrin        kaylathamrin@gmail.com

           phone_number  city_id
0    +62 (826) 324-8498     1375
1     +62 (94) 035-1870     3578
2    +62 (066) 647 0062     6471
3    +62 (843) 848 6210     3273
4       (0858) 484 6975     3174
5   +62 (0641) 107-9380     1375
6       +62-15-532-9556     3173
7    +62 (270) 278-4565     3173
8      +62-018-337-9526     3171
9        (054) 475-8152     6472
10    +62 (07) 479-3875     7371
11      (0686) 737-1994     3471
12   +62 (083) 119 3408     1375
13     +62-881-758-2031     3471
14         082 903 3072     3471
15    +62-0483-339-7148     7371
16   +62 (583) 185 9032     7371
17     +62-080-721-8341     3173
18       (004) 031 9389     3573
19         084 821 5997     3175
20      +62-85-047-4316     6471
21           0810076998     1375
22           0870358823     1375
23   +62 (041) 419-4302     3273
24      (0748) 108-9600     3172
25    +62 (59) 260-3281     3573
26   +62 (048) 012-8390     3172
27    +62 (25) 869 6150     6471
28       (080) 118-3246     3573
29   +62 (594) 678-7411     3172
30     +62-068-979-0691     3174
31    +62 (05) 623-0706     3172
32      (0101) 078-4052     3175
33    +62 (65) 285-7535     1375
34     +62-733-681-5814     6472
35    +62 (39) 831 3251     3578
36   +62 (316) 085 7769     3172
37    +62-0379-339-5734     6471
38    +62-0561-826-9206     6471
39   +62 (049) 645-3259     3172
40    +62 (49) 547 0789     3172
41    +62-0507-798-5998     3578
42      (0136) 932-8334     3273
43   +62 (972) 953-8199     3578
44     +62-001-529-0611     3171
45       (043) 335-0363     6472
46         089 033 3364     3273
47    +62 (96) 616 1073     1371
48       (052) 911 2613     3175
49       (005) 568-2441     5171

#### Ads

In [48]:
def ads_table(n_ads, is_print):

    start_date = datetime(2022, 1, 1)

    end_date = datetime(2022, 6, 30)

    # Buat table
    table = pd.DataFrame()
    table['ads_id'] = [i+1 for i in range(n_ads)]
    table['seller_id'] = [random.choice(range(1,50)) for i in range(n_ads)]
    table['product_id'] = [random.choice(range(1,200)) for i in range(n_ads)]
    table['model'] = table['product_id'].map(cars.set_index('product_id').model)
    table['price'] = table['product_id'].map(cars.set_index('product_id').price)
    table['ads_title'] = [' dijual cepat Rp'.join(i) for i in zip(table["model"].map(str),table["price"].map(str))]
    table['date_post'] = [FAKER.date_time_between(start_date=start_date, end_date=end_date) for i in range(n_ads)]
    table.drop(columns=['model','price'],inplace=True)

    # Print table
    if is_print:
        print(table)

    return table

In [49]:
# membuat data table ads
ads = ads_table(100, is_print=True)

    ads_id  seller_id  product_id                                 ads_title  \
0        1         27          86       Honda CR-V dijual cepat Rp159000000
1        2          4          65     Toyota Calya dijual cepat Rp113000000
2        3         13         197    Suzuki Ertiga dijual cepat Rp155500000
3        4          5         155     Toyota Yaris dijual cepat Rp189900000
4        5          7         125  Daihatsu Terios dijual cepat Rp175000000
..     ...        ...         ...                                       ...
95      96         35          25  Daihatsu Terios dijual cepat Rp201000000
96      97         21         194      Honda Civic dijual cepat Rp115000000
97      98         48         118    Daihatsu Ayla dijual cepat Rp350000000
98      99          3         169    Daihatsu Ayla dijual cepat Rp415000000
99     100         17         110      Toyota Agya dijual cepat Rp397500000

             date_post
0  2022-06-08 13:45:02
1  2022-06-14 15:24:37
2  2022-05-22 13:15:22
3  2022-02-22 01:35:46
4  2022-05-12 07:27:20
..                 ...
95 2022-02-22 09:07:10
96 2022-05-19 14:18:08
97 2022-01-18 09:21:27
98 2022-03-13 05:46:48
99 2022-04-21 04:03:49

[100 rows x 5 columns]

#### Bid

In [50]:
def bids_table(n_bids, is_print):

    start_date = datetime(2022, 6, 1)

    end_date = datetime(2022, 12, 31)

    # Buat table
    table = pd.DataFrame()
    table['bid_id'] = [i+1 for i in range(n_bids)]
    table['ads_id'] = [random.choice(range(1,100)) for i in range(n_bids)]
    table['buyer_id'] = [random.choice(range(1,50)) for i in range(n_bids)]
    table['bid_price'] = [random.choice(range(100000000,500000000)) for i in range(n_bids)]
    table['bid_status'] = 'Sent'
    table['date_bid'] = [FAKER.date_time_between(start_date=start_date, end_date=end_date) for i in range(n_bids)]

    # Print table
    if is_print:
        print(table)

    return table

In [51]:
# membuat data table bids
bids = bids_table(200, is_print=True)

     bid_id  ads_id  buyer_id  bid_price bid_status            date_bid
0         1       4         7  468578052       Sent 2022-11-26 18:17:18
1         2      30        25  461671268       Sent 2022-12-20 01:46:57
2         3       6        32  287185241       Sent 2022-09-22 05:13:47
3         4      32        41  366592943       Sent 2022-11-27 01:16:27
4         5      48        17  115042031       Sent 2022-08-24 21:10:33
..      ...     ...       ...        ...        ...                 ...
195     196      67        26  365065442       Sent 2022-08-03 16:17:20
196     197      30        26  267030545       Sent 2022-08-14 03:05:26
197     198      27        20  361074494       Sent 2022-09-24 08:36:42
198     199      93        22  336515098       Sent 2022-06-27 15:56:24
199     200      45        28  203430782       Sent 2022-09-17 05:54:14

[200 rows x 6 columns]

#### Convert ke CSV

In [52]:
cities.to_csv('output/cities.csv',index=False)
cars.to_csv('output/cars.csv',index=False)
sellers.to_csv('output/sellers.csv',index=False)
buyers.to_csv('output/buyers.csv',index=False)
ads.to_csv('output/ads.csv',index=False)
bids.to_csv('output/bids.csv',index=False)